// Logo and Navbar customization 
// Pulse keyframe for logo animation
// logox
// a tag for both logo and text
// CName for text

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

// Logo and Text and link (logox)
.logotx {
    width: 15rem; //40;
    height: 6rem; //36;
    display: flex;
    //flex-direction: row;

    align-items: center;
    justify-content: flex-start;
    margin-left: 21px;
    //border: 1px solid black;
    //animation: name duration timing-function delay iteration-count direction fill-mode;
    // w-40 h-36 flex items-center animate-pulse
}

.logotx a {
    text-decoration: none;   
}

.logotx img {

    height: 9rem;
    min-width: 6rem;           // set height to maintian link size and A/R
    max-width: 100%;

    //animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    object-fit: contain;    // set to fit parent logox div and maintain A/R
}

.CName {
    margin: 0.5rem;
    white-space: nowrap;    //  prevents the text within the span from wrapping to the next line. 
    font-size: 26px;    
    color: #150811;

    //min-width: 7rem;
    //max-width: 150px; 
    //border: 1px solid black;
}

// Logo.tsx  +  Nav.tsx 


.header{   

    display: flex;
   // border-right: 100px;
    justify-content: space-between;
   
}

