/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
/* Custom Components */
 /* @use  */
@use "layouts";

@use "base";
// @use "layout";
@use "components";

@use "pages";

// @import '/src/styles/_nav.scss';

// default margin of body is 8px fix;

html, body
{
    margin: 0px; padding: 0px;
}

body 
{
	background-color:#6874d0;
	height: 100vh;
	width: auto;
}


// .nav-list {
// 	display: flex;
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
//   }
 
// .nav-link {
// 	/* @include nav-item; */
// }
  /* .nav-item.highlighted { // Override hover color for a specific item
	@include nav-item($hover-color: red);
  }
  
  .nav-item.active { // Apply active styles
	@include nav-item;
	font-weight: bold;
	border-bottom: 2px solid #ddd;
  } */
/* 
.navbar{
    @include 
     
} */

